<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sales Quotes</title>
    <style type="text/css">
      html { -webkit-print-color-adjust: exact; } html, body, html * {
      font-family: 'Roboto', sans-serif; } * { margin: 10px; padding: 0; } b,
      h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0; padding: 0; } .pdf-outer {
      background-color: #fff; background-clip: border-box; padding: 0 0 32px
      !important; margin: 0 0 24px !important; border-radius: 0.25rem; width:
      100%; float: left; } .pdfwrap { padding: 15px 1% 0px 1% !important;
      margin: 0 !important; float: left; width: 98%; } .pdfheader { width: 100%;
      float: left; margin: 0; padding: 0; } .pdf-content { width: 100%; float:
      left; margin: 0; padding: 0px !important; } .pdfheader-left { width:
      33.3%; float: left; margin: 0; padding: 0; } .pdfheader-right { width:
      66.7%; float: left; margin: 0; padding: 0; } .pdfheader-right h2 {
      font-size: 32px !important; font-weight: 400; color: #09518e; margin: 10px
      0 2px; font-family: "Roboto", sans-serif; text-align: right; }
      .pdfheader-right h4 { font-size: 14px; text-align: right; font-weight:
      500; margin: 0; padding: 0 0 1px; } .pdfheader-right p { font-size: 12px;
      color: #000; padding-bottom: 5px; margin: 0; font-family: "Roboto",
      sans-serif; text-align: right; line-height: 18px !important; padding-top:
      0px; } .pdf-equal-cell { width: 31%; float: left; margin: 0 16px 0 0;
      padding: 0; } .pdf-equal-cell h5 { font-size: 11px; margin: 10px 16px;
      font-weight: 500; font-family: "Roboto", sans-serif; color: #000; padding:
      0; } .pdf-equal-cell p { margin: 10px 16px 14px; padding: 0; font-size:
      11px; font-family: "Roboto", sans-serif; color: #000; line-height: 18px; }
      .table-responsive { display: block; width: 100%; margin: 0; overflow:
      visible; -webkit-overflow-scrolling: touch; } .pdf-content.table { width:
      100%; margin-bottom: 1.5rem; color: #6c757d; border: 1px solid #dee2e6
      !important; border-collapse: collapse; } .pdf-content .table .thead-light
      th { color: #FFFFFF !important; background-color: #38414A !important;
      border-color: #38414A !important; vertical-align: middle; border-bottom:
      2px solid #38414A !important; text-align: left; padding: 8px; border: 1px
      solid #38414A; font-size: 11px; } .pdf-content .thead-light { border: 1px
      solid #38414A !important; } .pdf-content .print-table tbody { border: 1px
      solid #38414A !important; width: 100% !important; padding: 0 !important;
      display: table; margin: 0 !important; border-top: 0 !important;
      margin-top: -2px !important; } table.table.print-table { width: 100%;
      margin: 0 !important; padding: 0 !important; } .pdf-content .print-table2
      tbody { border: 1px solid #38414A !important; width: 100% !important;
      padding: 0 !important; margin: 0 !important; border-top: 0 !important;
      margin-top: -2px !important; } table.table.print-table2 { width: 100%;
      margin: 0 !important; padding: 0 !important; } table.table.print-table2 td
      { padding: 8px; line-height: 23px; font-size: 11px; border-right: 1px
      solid #38414A; } .pdfrow { display: flex; flex-wrap: wrap; margin-right:
      0px; margin-left: 0; padding-bottom: 20px; font-size: 12px; } .pdfrow
      label { color: #000; font-weight: 500; font-size: 11px; font-family:
      "Roboto", sans-serif; line-height: 18px; padding: 0 0 0 2px; margin: 0; }
      .w-25 { width: 25%; float: left; margin: -2px !important; padding: 0px
      !important; } .w-25 p { font-size: 11px; color: #000; margin: 10px 0 0
      2px; padding-bottom: 5px; font-family: "Roboto", sans-serif; line-height:
      19px; padding-top: 0px; } .w-50 { width: 47%; float: left; margin: 0
      !important; padding: 0px !important; } .w-50 p { font-size: 11px; color:
      #000; margin: 10px 0 0 20px; padding-bottom: 5px; font-family: "Roboto",
      sans-serif; line-height: 19px; padding-top: 0px; } .borderblack {
      border-top: 3px solid #000; margin: -10px 18px 0 0px !important; padding:
      0; height: 5px; } table.po-detail { text-align: left; padding: 0
      !important; margin: 0 !important; width: 100%; } .nopad { padding: 0
      !important } table.po-detail th { font-size: 11px; font-weight: 500;
      margin: 0; padding: 5px; color: #000; } table { border-collapse: collapse;
      } .noteswrap { margin: 0; padding: 0; } .noteswrap h6 { font-size: 11px;
      color: #000; font-family: "Roboto", sans-serif; } .noteswrap p {
      font-size: 11px; } .pdf-splitequal { width: 50%; float: left; margin: 0;
      padding: 0; } .pdf-equal-cell h5 { font-size: 11px; margin: 10px 15px;
      font-weight: 500; font-family: "Roboto", sans-serif; color: #000; padding:
      0; } .pdf-equal-cell p { margin: 10px 15px 14px; padding: 0; font-size:
      11px; font-family: "Roboto", sans-serif; color: #000; line-height: 18px; }
      table.table.print-table td { padding: 8px; } .table-borderless td {
      padding-right: 8px; } .table.bill th { text-align: right; padding: 0.4rem
      15px; } .table-borderless th, .table-borderless td, .table-borderless
      thead th, .table-borderless tbody+tbody { border: 0; } .grandouter {
      border-top: 1px solid #dee2e6 !important; border-bottom: 2px solid #dee2e6
      !important; background: #f0f4f6; } .grandouter p { font-size: 13px
      !important; padding: 7px 0 5px !important; } .thank-txt { margin: 50px 0 0
      0 !important; padding: 0 !important; border-top: 19px solid #f1f5f7; }
      .leadtime { padding-bottom: 20px !important; border-top: 2px solid #000;
      text-align: left; padding-top: 10px; float: left; width: 100%; font-size:
      15px !important; color: #000; } .leadtime1 { padding-bottom: 0 !important;
      float: left; width: 100%; font-weight: 500 !important; font-size: 12px
      !important; color: #000; text-align: center !important; }
    </style>
  </head>

  <body>
    <div class="pdf-outer">
      <div class="pdfwrap">
        <div class="pdfheader">
          <div class="pdfheader-left">
            <div><img class="logo" src="{{Logo}}" width="250" /></div>
            <div>{{SalesQuoteInfo.IsRushRepairNamePDF}}</div>
            <div>
              {{#ifCond SalesQuoteInfo.IsWarrantyRecoveryName "!=" "-"}}
                {{SalesQuoteInfo.IsWarrantyRecoveryName}}
              {{/ifCond}}

            </div>
          </div>
          <div class="pdfheader-right">

            {{#ifCond SalesQuoteInfo.RRId ">" 0}}
              <h2>REPAIR QUOTE</h2>
            {{/ifCond}}

            {{#ifCond SalesQuoteInfo.MROId ">" 0}}
              <h2>MRO QUOTE</h2>
            {{/ifCond}}

            {{#ifCond SalesQuoteInfo.RRId ">" 0}}
              <h4>Repair Request# {{RRnumber}}</h4>
            {{/ifCond}}

            {{#ifCond SalesQuoteInfo.RRId "==" 0}}
              {{#ifCond SalesQuoteInfo.MROId "==" 0}}
                <h4>QT# {{QTnumber}}</h4>
              {{/ifCond}}
            {{/ifCond}}
            {{#ifCond SalesQuoteInfo.MROId ">" 0}}
              <h4>MRO# {{SalesQuoteInfo.MRONo}}</h4>
            {{/ifCond}}

            <p>Quote Date :
              {{formatDate SalesQuoteInfo.QuoteDate}}<br />
              <b>
                {{RemitToAddress.EntityName}}<br />
                {{RemitToAddress.EntityAddress1}},
                {{#ifCond RemitToAddress.EntityAddress2 "!=" ""}}
                  {{RemitToAddress.EntityAddress2}},
                {{/ifCond}}
              </b>

              <br />
              <b>
                {{RemitToAddress.EntityCity}},{{RemitToAddress.EntityState}}
                {{RemitToAddress.EntityZip}},<br />
                {{RemitToAddress.EntityPhone1}}.<br />
                VAT No :
                {{RemitToAddress.EntityVATNo}}<br />
                {{#ifCond RemitToAddress.EntityEmail "!=" ""}}
                  {{RemitToAddress.EntityEmail}}<br />
                {{/ifCond}}
                {{#ifCond RemitToAddress.EntityWebsite "!=" ""}}
                  {{RemitToAddress.EntityWebsite}}<br />
                {{/ifCond}}

              </b>

            </p>

            <p>VC # :
              {{#ifCond SalesQuoteInfo.IsCorpVendorCode "!=" ""}}
                {{SalesQuoteInfo.IsCorpVendorCode}}
              {{/ifCond}}
              {{#ifCond SalesQuoteInfo.IsCorpVendorCode "==" ""}}
                -
              {{/ifCond}}
            </p>
          </div>
        </div>
        <div class="pdf-content">
          <div class="pdfrow">
            <div style="width:49%; margin-right:1%;" class="pdf-splitequal">
              <div class="table-responsive">
                <table class="table table-bordered print-table">
                  <thead class="thead-light">
                    <tr>
                      <th colspan="2">Sold-To:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <b>{{BillName}}</b><br />
                        <p>
                          {{BillingAddress.StreetAddress}},
                          {{BillingAddress.SuiteOrApt}},
                          {{BillingAddress.City}}<br />
                          {{BillingAddress.StateName}},
                          {{BillingAddress.CountryName}}
                          -
                          {{BillingAddress.Zip}}
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div style="width:49%; margin-left:1%;" class="pdf-splitequal">
              <div class="table-responsive">
                <table class="table table-bordered print-table">
                  <thead class="thead-light">
                    <tr>
                      <th colspan="2">Ship-To:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <b>{{ShipName}}</b><br />
                        <p>{{ShippingAddress.StreetAddress}},
                          {{ShippingAddress.SuiteOrApt}},
                          {{ShippingAddress.City}}<br />
                          {{ShippingAddress.StateName}},
                          {{ShippingAddress.CountryName}}
                          -
                          {{ShippingAddress.Zip}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="pdfrow">
            {{#ifCond SalesQuotesCustomerRef.length ">" 0}}
              <div style="width:49%; margin-right:1%;" class="pdf-splitequal">
                <div class="table-responsive">
                  <table class="table table-bordered print-table">
                    <thead class="thead-light">
                      <tr>
                        <th colspan="2">Customer Reference:</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each SalesQuotesCustomerRef}}
                        <tr>
                          <td>
                            <p>{{ReferenceLabelName}} : {{ReferenceValue}}</p>
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            {{/ifCond}}

            {{#ifCond SalesQuoteInfo.RRId ">" 0}}
              <div style="width:49%; margin-right:1%;" class="pdf-splitequal">
                <div class="table-responsive">
                  <table class="table table-bordered print-table">
                    <thead class="thead-light">
                      <tr>
                        <th colspan="2">Customer Department & Asset:</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p>Department :
                            {{#ifCond
                              SalesQuoteInfo.CustomerDepartmentName
                              "!="
                              ""
                            }}
                              {{SalesQuoteInfo.CustomerDepartmentName}}
                            {{/ifCond}}
                            {{#ifCond
                              SalesQuoteInfo.CustomerDepartmentName
                              "=="
                              ""
                            }}
                              -
                            {{/ifCond}}

                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>Asset :
                            {{#ifCond SalesQuoteInfo.CustomerAssetName "!=" ""}}
                              {{SalesQuoteInfo.CustomerAssetName}}
                            {{/ifCond}}
                            {{#ifCond SalesQuoteInfo.CustomerAssetName "==" ""}}
                              -
                            {{/ifCond}}

                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            {{/ifCond}}

          </div>

          <div class="pdfrow">
            <div class="table-responsive">
              <table class="table table-bordered print-table2">
                <thead class="thead-light">
                  <tr>
                    <th width="33%">Item</th>
                    <th width="10%">Lead Time</th>
                    {{#ifCond SalesQuoteInfo.MROId "==" "0"}}
                      <th width="12%">Warranty</th>
                    {{/ifCond}}
                    <th width="12%">Unit Price</th>
                    <th width="13%">Total Vat / Tax</th>
                    {{#ifCond SalesQuoteInfo.MROId "!=" "0"}}
                      <th width="10%">Shipping</th>
                    {{/ifCond}}
                    <th width="6%">Qty</th>
                    <th width="13%">Line Total</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each QuoteItem}}
                    <tr>
                      <td><b>{{PartNo}}</b>
                        {{#ifCond PartDescription "!=" ""}}
                          <br />{{PartDescription}}
                        {{/ifCond}}
                        {{#ifCond SerialNo "!=" null}}
                          {{#ifCond SerialNo "!=" ""}}
                            <br />Serial No:
                            {{SerialNo}}
                          {{/ifCond}}
                        {{/ifCond}}
                        {{#ifCond SalesQuoteInfo.MROId "!=" 0}}
                          <br />Part Type:
                          {{PartTypeName}}
                        {{/ifCond}}

                      </td>

                      {{#ifCond LeadTime "!=" ""}}<td>{{LeadTime}}
                          Days</td>{{/ifCond}}
                      {{#ifCond LeadTime "==" ""}}<td>-</td>{{/ifCond}}

                      {{#ifCond WarrantyLabel "!=" "MRO"}}
                        <td>{{WarrantyLabel}}</td>
                      {{/ifCond}}

                      <td>{{ItemLocalCurrencySymbol}}
                        {{formatDecimal Rate}}</td>
                      <td>{{ItemLocalCurrencySymbol}}
                        {{formatDecimal TotalTax}}</td>
                      {{#ifCond WarrantyLabel "==" "MRO"}}
                        <td>{{ItemLocalCurrencySymbol}} {{ShippingCharge}} </td>
                      {{/ifCond}}
                      <td>{{Quantity}}</td>
                      <td>{{ItemLocalCurrencySymbol}}
                        {{formatDecimal Price}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="table-responsive">
                <table
                  class="table table-borderless bill mb-0"
                  style="float: right;"
                >
                  <tbody>

                    <tr class="grandouter">

                      <th align="right" scope="row">
                        <p><b>Grand Total :</b></p>
                      </th>
                      <td>
                        <p>{{SalesQuoteInfo.CurrencySymbol}}
                          {{formatDecimal SalesQuoteInfo.GrandTotal}}</p>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {{#ifCond RRId "!=" 0}}
            {{#ifCond SalesQuoteInfo.RouteCause "!=" ""}}
              <div class="pdfrow">
                <div class="noteswrap">
                  <h6>Root Cause:</h6>
                  <p>
                    {{SalesQuoteInfo.RouteCause}}
                  </p>
                </div>
              </div>
            {{/ifCond}}
          {{/ifCond}}

          {{#ifCond SalesQuoteInfo.Notes "!=" ""}}
            <div class="pdfrow">
              <div class="noteswrap">
                <h6>Important Notes</h6>
                <p>
                  {{SalesQuoteInfo.Notes}}
                </p>
              </div>
            </div>
          {{/ifCond}}

          {{#ifCond IsSONotesEnabled "==" true}}
            <div class="pdfrow">
              <div class="noteswrap">
                <h6>Notes:</h6>
                <p>
                  {{settingsView.DefaultQuoteNote}}
                </p>

                {{#each NotesList}}
                  <p>
                    {{Notes}}
                  </p>
                {{/each}}

                {{#each RRNotesList}}
                  <p>
                    {{Notes}}
                  </p>
                {{/each}}
              </div>
            </div>
          {{/ifCond}}

          <div class="pdfrow">
            <div class="noteswrap">
              <div class="thank-txt">
                <p class="leadtime">Lead-time is based on parts availability at
                  time of quote and is subject to change. Repair quotes are
                  estimates based on evaluation at time of quote and are subject
                  to change. Priced-PO or valid Credit Card must be confirmed
                  prior to shipment of your approved / repaired item. Please
                  reference our Work Order # on your PO if possible. We accept
                  Mastercard and Visa credit cards.</p>
                <p class="leadtime1" style="padding-bottom: 0 !important;"><b
                  >Thank You for using Aibond.</b></p>
                <p class="leadtime1"><b>Please visit us at
                    {{AHGroupWebsite}}
                    for more information about other services we offer!</b></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>

</html>